body {
  background-color: rgb(3, 3, 88);
}

#search-button {
  background-color: rgb(165, 27, 27);
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap; 
  align-items: center;
  justify-content: space-between; 
  padding: 0;
  margin: 5px;
}

.container {
  font: white;
  align-items: left;
  padding: 20px;
}

#marvel-character-info {
  border: 5px solid red;
  display: flex; 
  flex-direction: column;
  padding: 20px;
  background-color: rgb(115, 114, 114);

}

.marvel-title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}

#marvel-character-img {
  border-radius: 30px 30px black;
  max-width: 50%;
  padding: 10px;
  align-items: center;
}

.text-marvel {
  padding-left: 20px;
  font-size: 40px;
  text-align: right;
}

nav {
  border: 1px solid #000
}

.navbar-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: left;
  background-color: #202020;
}
.input {
  width: 500px;
}

.dropbtn {
    background-color:gray;
    color: white;
    /* padding: 16px; */
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color:red;}

  .search-list{
    position: absolute;
    right: 0;
    top: 100%;
    max-height: 500px;
    overflow-y: scroll;
    z-index: 10;
}
.search-list{
  position: absolute;
  right: 0;
  top: 100%;
  max-height: 500px;
  overflow-y: scroll;
  z-index: 10;
}
.search-list .search-list-item{
  background-color: var(--light-dark-color);
  padding: 0.5rem;
  border-bottom: 1px solid var(--dark-color);
  width: calc(350px - 8px);
  color: #fff;
  cursor: pointer;
  -webkit-transition: background-color 200ms ease;
  -o-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}
.search-list .search-list-item:Hover{
  background-color: #1f1f1f;
}
.search-list-item{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.search-item-thumbnail img{
  width: 40px;
  margin-right: 1rem;
}
.search-item-info h3{
  font-weight: 600;
  font-size: 1rem;
}
.search-item-info p{
  font-size: 0.8rem;
  margin-top: 0.5rem;
  font-weight: 600;
  opacity: 0.6;
}

/* thumbnail */
.search-list::-webkit-scrollbar{
  width: 8px;
}
.search-list::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.search-list::-webkit-scrollbar-thumb{
  background-color: var(--yellow-color);
  outline: none;
  border-radius: 10px;
}

.movie-poster img{
  max-width: 300px;
  margin: 0 auto;
  border: 4px solid #fff;
}

.giphy-gif img {
  width: 150px;
  height: 150px;

}

#gif-table {
  border: 5px solid red;
  display: flex; 
  flex-direction: column;
  padding: 20px;
  background-color:rgba(0, 0, 0, 0.3);
}